.genreBadge {
    background: repeating-linear-gradient(
            135deg,
            #f5f5f5 0px,
            #f5f5f5 40px,
            #d9d9d9 40px,
            #d9d9d9 80px
    );
    text-transform: uppercase;
    box-shadow: 0 0 10px #eee;
    transition: transform 0.5s ease, box-shadow 0.3s ease;
}

.genreBadge:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.45);
}

.genreBadgeActive {
    background: linear-gradient(to right, #60a5fa, #a78bfa) !important;
}

