.moviesSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.moviesList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    width: 100%;
}

.moviesList > li {
    min-width: 0;
    display: flex;
    flex-direction: column;
}

.moviesList h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.emptyMovies {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px;
}
