.moviesSection {
    min-height: 100vh;
    padding: 0 50px 0 50px;
}

.moviesSection, .emptyMovies, .moviesList > li  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.moviesList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 5px;
    width: 100%;
}

.moviesList h3 {
    width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


@media screen and (max-width: 800px) {
    .moviesList {
        display: flex;
        justify-items: center;
        align-items: center;
        flex-direction: column;
        background-color: #3b82f6;
    }

}

