.star{
    cursor: pointer;
    transition: all 0.1s linear;
    width: 12px;
    height: 12px;
}

.starActive {
    stroke: goldenrod;
    fill: gold;
}

.starNoActive {
    fill: gray;
    stroke: darkgray;
}

.star:hover {
    transform: scale(1.5);
}